
.hambuger{
	display: block;
	position: relative;
	width: 60px;
	height:50px;
	border:0;
	cursor:pointer;
	font-size: 0;
}
.hambuger:focus{
	outline:none;
}
.hambuger span{
	display: block;
	position: absolute;
	height: 4px;
	top: 22px;
	left: 8px;
	right: 8px;
	background-color:#66FFFF;
}
.hambuger span:before,
.hambuger span:after{
	content:"";
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background-color:#66FFFF;
}
.hambuger span:before{
	top:-10px;
}
.hambuger span:after{
	bottom:-10px;
}
